<nav>
{%- for item in include.menu -%}
  {%- if item.children -%}
    <div class="dropdown menu-dropdown">
      <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ item.title }}
      </a>
      <ul class="dropdown-menu">
        {%- for child in item.children -%}
          {%- assign node = site.pages | where: "name", child.file | first -%}
          {%- assign url = child.url | default: node.url -%}
          {%- assign title = child.title | default: node.title -%}
          <li><a class="dropdown-item{% if url == page.url %} selected{% endif %}" href="{{ url | relative_url }}">{{ title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  {%- else -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    <a href="{{ url | relative_url }}" {% if item.icon %}title="{{ title }}" {% endif %}{% if url == page.url %}class="selected"{% endif %}>
      {%- if item.icon -%}<svg aria-label="{{ title }}" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use></svg>{%- else -%}{{ title }}{%- endif -%}
    </a>
  {%- endif -%}
{%- endfor -%}
</nav>
